

h1{
    font-family: 'Bruno Ace', cursive;
    text-decoration: underline;
    color: white
}

body {
    text-align: center;
    background-color: ghostwhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    position:fixed
    width: 100%;
    background-image: url(pong_image.jpg);
    background-size: 1870px;
 
}

ul li {
    text-align: left;
    
}

#gameRules{
    margin-top: 35px;
    font-family: 'Bruno Ace', cursive;
    font-weight: bold;
    font-size: 20px;
    color: rgb(255, 247, 247)
    

}

h2{
    text-decoration: underline;
}

